include ./mixins.pug

doctype
html(lang=idioma)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= titulo
    body
        header
            h1= titulo
            block header 
                img(src="./assets/banner-1.png", alt="")
        nav
            +menu(aSecciones)
        main
            block main
        footer
            address #{autor} - #{autorMail}
            small &copy; #{empresa}, #{localidad}